<div class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of userDataList">
                <td>{{data.first_name}}</td>
                <td>{{data.last_name}}</td>
                <td>{{data.email}}</td>
            </tr>

        </tbody>
    </table>
</div>