<div class="container">
    <div class="row mt-2 mb-2">
        <div class="col align-end">
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Screen Options
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item" type="button" (click)="viewMode('fullScreen')">Full Screen
                        View</button>
                    <button class="dropdown-item" type="button" (click)="viewMode('splitScreen')">Split Screen
                        View</button>
                </div>
            </div>
        </div>
    </div>
    
        <div class="row split" *ngIf="isFullScreen">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of userDataList">
                        <td>{{data.first_name}}</td>
                        <td>{{data.last_name}}</td>
                        <td>{{data.email}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="mb-3 gutter" *ngIf="isSplitScreen"></div>
        </div>
    <div class="split-screen" *ngIf="isSplitScreen">
        <as-split direction="horizontal">
            <as-split-area size="40">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of userDataList">
                            <td>{{data.first_name}}</td>
                            <td>{{data.last_name}}</td>
                            <td>{{data.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </as-split-area>
            <as-split-area size="60">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                    aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eodolor sit amet,
                    consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                    dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                    exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                    consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                    molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
            </as-split-area>
        </as-split>
    </div>
</div>